.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5rem;
  position: relative;
}

.newTaskForm {
  position: absolute;
  bottom: calc(-3.375rem/2);
  height: 3.375rem;
  width: 100%;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.newTaskForm input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 0 1rem;  
  outline: 
}

.newTaskForm input:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-200);
}

.newTaskForm input::placeholder {
  color: var(--gray-300);
}

.newTaskForm button {
  height: 100%;
  padding: 0 1rem;
  color: var(--gray-100);
  background: var(--blue-200);
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.newTaskForm button:hover {
  background: var(--blue-100);
}